*.gz
*.zip
*.txt
docbank_loader/
DocBank_Samples/
ptranking/
Project_output/
dataset/
MQ2008/
handcrafted/
extracted/
DocBank_500K_txt/

.idea/aws.xml
*.iml
*.xml
*.jpg
*.pdf
*.rar
ext/__pycache__/rank_bm25.cpython-38.pyc
~$deim.xlsx
deim.xlsx
ext/__pycache__/rank_bm25.cpython-38.pyc
